Predicting Customer Churn for Vodafone
--------------------------------------

BUSINESS UNDERSTANDING
----------------------
Companies in the present business environment are always looking for ways to increase their profitability and revenue margins. Customer retention is an important area of focus for sector participants since it has an immediate influence on sustainability and long-term performance. Businesses are using the capabilities of machine learning to undertake churn analysis on their client base in order to accomplish this goal.

Objectives of the project
-------------------------


The objective of this project is to help a Vodafone telecommunications company use classification models to gain insight into their customer data, determine the lifetime value of each customer, pinpoint the major variables affecting customer churn rates, and create predictive models to ascertain whether a customer will leave or not.

In [2]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in d:\dap\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in d:\dap\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyodbc
#just installed with pip
import os
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
from dotenv import load_dotenv
import pandas as pd
import warnings



warnings.filterwarnings('ignore')

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
# Get the values for the credentials you set in the '.env' file
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
username=environment_variables.get("USERNAME")
password=environment_variables.get("PASSWORD")


connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [3]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection=pyodbc.connect(connection_string)

In [4]:
query="Select * from dbo.LP2_Telco_churn_first_3000"
data_1=pd.read_sql(query,connection)

In [5]:
data_1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2209-XADXF,Female,False,False,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,False,Bank transfer (automatic),25.250000,25.250000,False
2996,6620-JDYNW,Female,False,False,False,18,True,True,DSL,True,...,True,False,False,False,Month-to-month,True,Mailed check,60.599998,1156.349976,False
2997,1891-FZYSA,Male,True,True,False,69,True,True,Fiber optic,False,...,False,False,True,False,Month-to-month,True,Electronic check,89.949997,6143.149902,True
2998,4770-UEZOX,Male,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,74.750000,144.800003,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,None,...,None,None,None,None,Month-to-month,False,Mailed check,20.600000,414.950012,False

### Cleaning the data_1

In [11]:
data_1.shape

(3000, 21)

In [12]:
data_1.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
5,9305-CDSKC,Female,False,False,False,8,True,True,Fiber optic,False,...,True,False,True,True,Month-to-month,True,Electronic check,99.650002,820.500000,True
6,1452-KIOVK,Male,False,False,True,22,True,True,Fiber optic,False,...,False,False,True,False,Month-to-month,True,Credit card (automatic),89.099998,1949.400024,False
7,6713-OKOMC,Female,False,False,False,10,False,None,DSL,True,...,False,False,False,False,Month-to-month,False,Mailed check,29.750000,301.899994,False
8,7892-POOKP,Female,False,True,False,28,True,True,Fiber optic,False,...,True,True,True,True,Month-to-month,True,Electronic check,104.800003,3046.050049,True
9,6388-TABGU,Male,False,False,True,62,True,False,DSL,True,...,False,False,False,False,One year,False,Bank transfer (automatic),56.150002,3487.949951,False

In [8]:
data_1.columns #checking the columns available in the dataset

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [9]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [10]:
data_1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
tenure,3000.0,32.527333,24.637768,0.000000,9.000000,29.000000,56.000000,72.000000
MonthlyCharges,3000.0,65.347400,30.137053,18.400000,35.787499,70.900002,90.262501,118.650002
TotalCharges,2995.0,2301.278315,2274.987884,18.799999,415.250000,1404.650024,3868.725098,8564.750000

In [17]:
max_check = data_1["tenure"].max()
max_check

72

Checking for Duplicate

In [15]:
duplicates = data_1.duplicated(keep=False)

# Returns the total number of duplicates
duplicates_count = duplicates.value_counts()
duplicates_count

False    3000
Name: count, dtype: int64

Checking the MIssing values

In [21]:
data_1_missing = data_1.isnull().sum()
data_1_missing

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

The above codes shows that there are the missing values.

Cleaning up the missing values by droping the column with missing values

In [22]:
data_1_cleaned = data_1.dropna(axis=1)

In [24]:
data_1_cleaned.shape

(3000, 12)

Checking up the remaining missing values

In [26]:
data_1_cleaned2 = data_1_cleaned.isnull().sum()
data_1_cleaned2

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
InternetService     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
dtype: int64

In [28]:
data_1_cleaned.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'InternetService', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges'],
      dtype='object')

### LOADING THE DATA

In [24]:
data_2 = pd.read_excel("Telco-churn-second-2000.xlsx")

In [21]:
data_2.shape

(2000, 20)

In [23]:
data_3 = pd.read_csv("LP2_Telco-churn-last-2000.csv")

In [25]:
data_3.shape

(2043, 21)

In [26]:
data_3.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')